<div class="main">
	<h2>Manage your grocery list from home or on the road!</h2>
	<p>
	This app will allow you to create a grocery list from your home or your mobile device.
	</p>
	<p>
	Once you have your list created you can check off items while you aquire them at the store.
	</p>
	<p>
	Our recipe section allows you to search for a recipe and then automatically submit the needed ingredients into your grocery list.
	<p>
	Have a bunch of ingredients but don't know what to do? Our reverse recipe service will allow you to enter your ingredients and then it will give you a list of possible recipes!
	</p>

</div>
<div class="sidebar"></div>
